<!DOCTYPE html>
<html>
  <head>
	<title>PragProg Books Online Store</title>
	<!-- Prevent cross site request forgery -->
	<%= csrf_meta_tags %>
	<!--Link app's stylesheets-->
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<!--Link app's scripts-->
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 </head>

 <body class ='<%= controller.controller_name%>'>
   <div id="banner">
	 <%= image_tag 'logo.svg', alt: 'The Pragmatic Bookshelf' %>
	 <span class="title"><%= @page_title %></span>
   </div>
   <div id="columns">
     <div id="side">
       <ul>
	   	 <li><a href="http://www....">Home</a></li>
 		 <li><a href="http://www..../faq">Questions</a></li>
		 <li><a href="http://www..../news">News</a></li>
		 <li><a href="http://www..../contact">Contact</a></li>
	   </ul>
	 </div>
     <div id="main">
	 <!-- Loads page view invoked by the request -->
       <%= yield %>
     </div>
    </div>
  </body>
</html>
